.contactos__redes{
    background-color: #B0CFFB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contactos__iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;
}

.contactos__form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    font-size: 35px;
}

.contactos__form--input{
    width: 500px;
    height: 25px;
    margin: 15px;
}