$redes:(
    whatsapp: #4FCE5D,
    instagram: #E4405F,
    linkedin: #0e76a8
);

@each $red, $color in $redes{
    .btn--#{$red}{
        background-color:$color;
    }
}

.btn__redes{
    @extend .footer__navegation;
    @extend .footer__copyright;
    border-radius: 20px;
}