.footer{
    border: solid;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    justify-content: center;

    &__navegation{
        text-decoration: none;
        color: white;
        text-align: center;
        font-size: 25px;
        margin: 15px 15px;
        transition: 2s;

        &:hover{
            font-size: 60px;
            color: white;
        }
    }

    &__copyright{
        color: white;
        margin: 5px;
        text-decoration: none;

        &:hover{
            color: white;
            text-decoration: underline;
        }
    }

    &__copyright--centrado{
        text-align: center;
        justify-content: center;
        }
        
        .footer__lista{
        display: flex;
        flex-direction: row;
        align-items: center;
        }
}



