*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

.lista--none{
    list-style: none;
    display: flex;
    justify-content: center;
}

.area__link{
    grid-area: link;
}

.nav__querie{
    display: flex;
    justify-content: end;
}